.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-modal {
  background: #2b2b2b;
  color: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 320px;
  position: relative;
  border: 1px solid;
}

/* Green Circle */
.icon-circle {
  width: 80px;
  height: 80px;
  background: #14532d;
  color: #fff;
  font-size: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

/* Title */
.success-modal h2 {
  margin-bottom: 10px;
}

/* Description */
.success-modal p {
  color: #cfcfcf;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Button */
.continue-btn {
  width: 100%;
  padding: 12px;
  background: #166534;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.continue-btn:hover {
  background: #15803d;
}

/* Bottom Arrow */
.down-arrow {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: #3a3a3a;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}